@font-face {
    font-family: 'Neue Haas Display';
    src: url(fonts/NeueHaasDisplayRoman.ttf);
    font-display: swap;
}

* {
    font-family: 'Neue Haas Display', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #5787ff;
    box-sizing: border-box;
}

header,
main,
footer {
    background-color: #abc3ff;
    color: #00134c;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.7)) drop-shadow(0px 1px 5px rgba(227, 150, 6, 0.4));
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    max-width: 960px;
    border-radius: 10px;
}

::selection {
    color: #abc3ff;
    background: #0732b1;
}

::-moz-selection {
    color: #abc3ff;
    background: #0732b1;
}

nav {
    width: 100%;
}

h1 a {
    color: #00134c;
    text-decoration: none;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 0.5rem;
    flex-wrap: wrap;
}

nav li {
    flex-grow: 1;
    width: calc(100% / 4 - 2rem);
    margin: 0.5rem;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    background-color: #739afc;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #00134c;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav i {
    color: #0732b1;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
    background-color: #0732b1;
}

nav a:hover i {
    color: #fff;
}

.header__breadcrumb a {
    white-space: nowrap;
}

.header__breadcrumb a::after {
    content: ' / ';
    margin: 0 0.5rem;
}

i {
    margin-right: 0.5rem;
}

.main__classlist iframe {
    width: 400px;
    height: 300px;
}

a {
    color: #0732b1;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00134c;
}

a[href^="http"]:after,
a[href^="//"]:after {
    margin-left: 3px;
    font: var(--fa-font-solid);
    content: '\f08e';
}

.new::after {
    content: 'new!';
    color: #b64300;
    margin-left: 1rem;
}

.tableContainer {
    width: 100%;
    overflow: auto;
}

.tableContainer th, .tableContainer td {
    min-width: 10rem;
}

table {
    box-sizing: border-box;
    border-spacing: 2px;
    width: 100%;
    table-layout: auto;
    margin: auto;
}

th,
td {
    width: fit-content;
    text-align: center;
    border-top: 2px dashed #00134c;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

th {
    border: 2px dashed #00134c;
    border-bottom: none;
}

tr td:nth-child(3), tr td:nth-child(4){
    white-space: normal;
}

input {
    color: #00134c;
    background-color: #abc3ff;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6) inset;
    border: 1px solid #00134c;
    margin: 0.5rem;
}

textarea {
    color: #00134c;
    background-color: #abc3ff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6) inset;
    border: 1px solid #00134c;
    vertical-align: top;
    width: 20rem;
    height: 3rem;
}

button {
    color: #00134c;
    background-color: #5787ff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
    border: 1px solid #00134c;
    margin: 0.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

button:active {
    color: #abc3ff;
    background-color: #0732b1;
}

.faster {
    color: #b64300;
}

/* タブレット対応 */
@media (max-width: 960px) {

    header,
    main,
    footer {
        margin: 1rem auto;
    }
}

/* スマホ対応 */
@media (max-width: 428px) {
    nav ul {
        flex-wrap: wrap;
        gap: 0.3rem;
    }

    nav li {
        width: calc(50% - 3rem);
    }

    nav a {
        width: 100%;
        padding: 1rem;
    }

    table {
        overflow: auto;
    }

    th,
    td {
        padding: 0.3rem 0.5rem;
    }

    .main__classlist iframe {
        width: 100%;
    }
}