html {
    background-color: #5787ff;
}

header,
main,
footer {
    background-color: #abc3ff;
    color: #00134c;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.7)) drop-shadow(0px 1px 5px rgba(227, 150, 6, 0.4));
    padding: 1rem 1.5rem;
    margin: 2rem;
}

.header__pagelist {
    width: 100%;
}

.header__pagelist__current {
    font-size: 1.2rem;
}

h1 a {
    color: #00134c;
    text-decoration: none;
}

.header__pagelist ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.header__pagelist a {
    padding: 0.5rem;
    margin: 0 0.5rem;
    text-align: center;
    width: calc(100% / 5);
    box-sizing: border-box;
    background-color: #739afc;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #00134c;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.header__pagelist i {
    color: #0732b1;
    transition: color 0.5s ease;
}

.header__pagelist a:hover {
    color: #739afc;
    background-color: #0732b1;
}

.header__pagelist a:hover i {
    color: #739afc;
}

i {
    margin-right: 0.5rem;
}

a {
    color: #0732b1;
    text-decoration: none;
    transition: color 0.5s ease;
}

a:hover {
    color: #00134c;
}

a[href^="http"]:after,
a[href^="//"]:after {
    margin: 0 0 0 3px;
    font: var(--fa-font-solid);
    content: '\f08e';
}

table {
    box-sizing: border-box;
    border-spacing: 2px;
}


th, td {
    text-align: center;
    width: fit-content;
    border-top: 2px dashed #00134c;
    padding: 0.5rem 1rem;
}

th {
    border: 2px dashed #00134c;
    border-bottom: none;
}

@media (max-width: 960px) {
    header, main, footer {
        padding: 1rem, 0.5rem;
    }
}

@media (max-width: 428px) {}
